/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

// Define the color palettes for the theme.
$primary: mat.define-palette(mat.$teal-palette, 700, 500, 800);
$accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$warn: mat.define-palette(mat.$red-palette);

// Define a theme.
$theme: mat.define-light-theme($primary, $accent, $warn);

// Include all theme styles for the components.
@include mat.all-component-themes($theme);

app-calendar-header {
  .mat-select {
    background: #00796b;
    color: white;
    padding: 20px;
    margin-bottom: -20px;
    box-sizing: border-box;
  }

  .mat-select-value,
  .mat-select-arrow {
    color: #fff;
  }
}

.mat-datepicker-content {
  height: 400px;
}
